.li{
    display: flex;
    justify-content: center;
    list-style: decimal;
    margin-top: 5%;
    width: 30%;
}

.input{    
    display: inline-flex;
    justify-content: center;
    width: 30%;
}